/* https://material.io/guidelines/style/color.html#color-color-palette */
body {
    font-family: 'Raleway', sans-serif;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background: #F5F5F6;
    color: black;
}

h1 {
    letter-spacing: -0.1rem;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

header {
    background: #3f51b5; /* indigo 500 */
    color: white;
}

article {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    background: #c5cae9; /* indigo 100 */
    color: black;
}

.faint {
    opacity: 0.5;
}

.countdown {
    display: flex;
    justify-content: center;
    margin: 1em 0;
}

.countdown-box {
    flex: 0 1 80px;
    display: flex;
    flex-direction: column;
}

.countdown-box-value {
    font-weight: bolder;
    font-size: x-large;
}

.countdown-box-label {
    font-size: smaller;
    letter-spacing: -0.5px;
}

.full-width {
    max-width: 100%;
    max-height: 50vh;
}

@media (min-width: 600px) {
    .countdown-grid {
        column-count: 2;
    }
}

@media (min-width: 750px) {
    .countdown-grid {
        column-count: 3;
    }
}

.countdown-grid-tile {
    box-sizing: border-box;
    width: 250px;
    height: 250px;
    border: 10px solid #F5F5F6;
    padding-bottom: 10px;

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: large;
}

.countdown-grid-tile:hover {
    border-color: transparent;
}
