{% extends "countdown/layout.html" %}
{% load static %}
{% block title %}{{ countdown.title }}{% endblock title %}
{% block header %}
    <h1>{{ countdown.title }}</h1>
{% endblock header %}
{% block body %}
    {% if countdown.has_expired %}
    <h2>{{ countdown.yes_text }}</h2>
    {% if babies %}
        {% for baby in babies %}
            {% if baby.image %}
            <img class="full-width" src="{{ baby.image.url }}">
            {% endif %}
            <h3>{{ baby.name }}</h3>
            <p>
                {% if baby.born_at or baby.weight %}
                Born {% if baby.born_at %}on
                    <b>{{ baby.born_at|date:"D d M Y" }}</b> at
                    <b>{{ baby.born_at|time:"H:i" }}</b>{% endif %}{% if baby.weight %}
                    weighing <b>{{ baby.weight }}</b>{% endif %}.
                {% endif %}
                {{ baby.notes }}
            </p>
        {% endfor %}
    {% else %}
        {% if countdown.yes_image %}
        <img class="full-width" src="{{ countdown.yes_image.url }}">
        {% endif %}
    {% endif %}
    {% else %}
    <h2>{{ countdown.not_yet_text }}</h2>
    {% if countdown.not_yet_image %}
    <img class="full-width" src="{{ countdown.not_yet_image.url }}">
    {% endif %}
    <div class="countdown" data-seconds-remaining="{{ countdown.seconds_remaining }}">
        <div class="countdown-box">
            <span class="countdown-box-value">…</span>
            <span class="countdown-box-label">…</span>
        </div>
    </div>
    {% endif %}
{% endblock body %}
{% block scripts %}
    <script src="{% static 'countdown/moment.min.js' %}"></script>
    <script src="{% static 'countdown/countdown.js' %}"></script>
{% endblock %}
