{% extends "countdown/layout.html" %}
{% block title %}Here Yet?{% endblock title %}
{% block header %}
    <h1>here<span class='faint'>.</span>y<span class='faint'>e</span>t<span class='faint'>?</span></h1>
{% endblock header %}
{% block body %}
<p>
    Mechanically-reclaimed countdown URLs for a mechanically-reclaimed world.
</p>
{% if countdowns %}
<div class="countdown-grid">
{% for countdown in countdowns %}
    <a href="{{ countdown.get_absolute_url }}"
       class="countdown-grid-tile"
       style="background: {{ countdown.header_colour }};">
        {% if countdown.best_image %}
            <img class="full-width" src="{{ countdown.best_image.url }}">
        {% else %}
        <span></span>
        {% endif %}
        <span class="countdown-grid-tile-label">{{ countdown.title }}</span>
    </a>
{% endfor %}
</div>
{% endif %}
{% endblock body %}
