{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="{{ header_colour|default:"#1a237e" }}">
        <title>{% block title %}{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'countdown/normalize.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'countdown/style.css' %}" />
        <style>
            header {
                background: {{ header_colour|default:"#1a237e" }};
            }
        </style>
    </head>
    <body>
        <header><div class="container">{% block header %}{% endblock %}</div></header>
        <article><div class="container">{% block body %}{% endblock %}</div></article>
        <footer><div class="container">{% block footer %}{% endblock %}</div></footer>
    </body>
    {% block scripts %}{% endblock %}
</html>
